body {
    font-family: sans-serif;
}

ul {
    /*outline: 1px solid yellow;*/
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
    width: 200px;
}

li {
    /*outline: 1px solid red;*/
}
/*estados de los enlaces love/hate link visited hover active*/
a {
    /*outline: 1px solid green;*/
    display: block;
    text-decoration: none;
    color: #000;
    padding-left: 8px;
}

a:hover {
    background: #e0e0d1;
}

ul li:first-child {
    background: #f9a91a;
}

ul li:first-child a:hover{
    color: #fff;
